<div class="jumbotron card text-center bg-dark">
    <h1 class='card-title text-light text-capitalize font-weight-bold'>welcome to the rick & morty gossip project</h1>
    <p class='lead font-italic text-info text-uppercase'>You GOTTA get SCHWIFTYY !</p>
  </div>
<div class="container">
<h2>Greatest Quotes</h2>
<div class="card-columns">
  <% @gossips.each do |gossip| %>
    <div class="card p-3 border border-info">
      <blockquote class="blockquote mb-0 card-body">
      <p><%= gossip.content%></p>
      <footer class="blockquote-footer">
        <small class="text-muted">
        <%= gossip.author%> <%= link_to "says", gossip_path(gossip.id) %>
        </small>
      </footer>
      </blockquote>
    </div>
  <% end%>
</div>
